[Desktop Entry]
Name=xpander
GenericName=Text Expander
Comment=Universal snippets and text expansion
Exec=/opt/extras.ubuntu.com/xpander/bin/xpander
Terminal=false
Type=Application
Icon=xpander
Categories=Utility
